<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grivence </title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="title-wrapper">
        <div class="logo">
            <img src="/download.png" alt="Ramaiah Logo">        
        </div>
    <!-- <div>
        <a href="/index">Home</a>
        <a href="/contact">Contact</a>
        <a href="/About">About</a>
    </div> -->
    </div>


    <div class="heading">
        <h1>STUDENT PORTAL</h1>
    </div>

    <div class="action-wrapper">
        <div class="input-wrapper">
            <form action="/complent" method="post">
            <input type="name" placeholder="USN eg 1MS21IS000" name="Usn">
            <input type="date" placeholder="DD-MM-YYYY" name="dob">
            <button>submit</button>
            <!-- <button>SIGN IN</button> -->
        </form>
        </div>

        
    
    </div>

    <div>
        <a href="/faculty">login as Facullty</a>
    </div>

        
        <div>
            <div class="contactus">
                <a href="https://www.youtube.com/@RamaiahInstituteofTechnology"><img src="youtube.png" alt="" width="20px"></a>
                <a href="https://www.facebook.com/MSRIT.updates/"><img src="facebook.png" alt="" width="20px"></a>
                <a href="https://www.linkedin.com/school/m.s.-ramaiah-institute-of-technology/?originalSubdomain=in"><img src="linkedin.png" alt="" width="20px"></a>
            </div>
        </div>

    

    
    <!-- <div class="logo">
    <img src="/download.png" alt="Ramaiah Logo">
    </div>
    <h1>STUDENT PORTAL</h1>
    
    <div class="login">
        <input type="text" name="name" id="img1" placeholder="USN" class="stu"><br>
        <input type="text" name="pass" id="img2" placeholder="Password" autofocus class="stu">
        <a href="student.html"><button type="button" class="btn btn-primary btn-lg">Sign In</button></a>
        </div>

        <div>
            <a href="https://www.youtube.com"><img class="im" src="youtube.png" alt="" width="20px"></a>
            <a href="https://www.facebook.com"><img class="im" src="facebook.png" alt="" width="20px"></a>
            <a href="https://www.linkedin"><img class="im" src="linkedin.png" alt="" width="20px"></a>
        </div>
     -->
    
</body>
</html>