<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .logo {
        display: flex;
        justify-content: space-around;
        padding: 20px 0px;
    }

    a {
        text-decoration: none;
        margin: 10px;
    }

    a:hover {
        text-decoration: underline;
        color: rgb(37, 47, 227);
    }
    .gob{
        /* align-items: center; */
        margin-left: 48%;
    }
</style>
</head>
<body>
    <div class="logo">
        <div class="c1">
            <img src="/download.png" alt="logo">
        </div>
        <div class="c2">
            <a href="/complent">Home</a>
            <a href="/About">About</a>
            <a href="/contact">Contact us</a>
            <!-- <a href="">Contact Us</a> -->
            <!-- <button onclick="myFunction()"><img src="/moon.png" alt="Mode" width="20px"></button> -->
        </div>
    </div>

    <div>
        <h1 style="text-align: center;">Problem submitted</h1>
    </div>
    <a class="gob" href="/complent">Go Back</a>
</body>
</html>